<<<<<<< HEAD
$white: #fff;
$black: #000;
$light-grey: darken($white, 7%);
$dark-grey: lighten($black, 40%);
$accent-light: #53acff;
$accent-dark: #3968a0;

@mixin flexEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: $black;
}

p {
  line-height: 1.4;
  color: $dark-grey;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 22px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  margin: 10px 0;
}

h3,
.color-accent-light {
  color: $accent-light;
}

.color-accent-dark {
  color: $accent-dark;
}

.color-light-grey {
  color: $light-grey;
}
.yellow {
  color: #ffee00;
}

.color-white {
  color: $white !important;
}

.bg-linear {
  background: linear-gradient(to right, $accent-dark, $accent-light 80%);
}

.bold {
  font-weight: 700;
  line-height: 1.1;
}

.text-start {
  text-align: start !important;
}

.text-center {
  text-align: center !important;
}

.font-awesome-circle {
  font-size: 0.5rem;
}

.about {
  margin: 30px 0;
}

.particle {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.margin-top {
  margin-top: 20px;
}

button,
.card-normal,
a {
  cursor: pointer;
}

.card.border-top-accent {
  border-top: 4px solid $accent-dark;
}

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@import 'navbar';
@import 'sections';
@import 'footer';
@import 'cards';
@import 'testimonials';
@import 'courses';
@import 'talk';
@import 'questions';
@import 'team';
@import 'form';
=======
$white: #fff;
$black: #000;
$light-grey: darken($white, 7%);
$dark-grey: lighten($black, 40%);
$accent-light: #53acff;
$accent-dark: #3968a0;

@mixin flexEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: $black;
}

p {
  line-height: 1.4;
  color: $dark-grey;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 14px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  margin: 10px 0;
}

h3,
.color-accent-light {
  color: $accent-light;
}

.color-accent-dark {
  color: $accent-dark;
}

.color-light-grey {
  color: $light-grey;
}
.yellow {
  color: #ffee00;
}

.color-white {
  color: $white !important;
}

.bg-linear {
  background: linear-gradient(to right, $accent-dark, $accent-light 80%);
}

.bold {
  font-weight: 700;
}

.text-start {
  text-align: start !important;
}

.text-center {
  text-align: center !important;
}

.font-awesome-circle {
  font-size: 0.5rem;
}

.about {
  margin: 30px 0;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.margin-top {
  margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@import 'navbar';
@import 'sections';
@import 'footer';
@import 'cards';
@import 'testimonials';
@import 'courses';
@import 'talk';
@import 'questions';
@import 'team';
@import 'form';
>>>>>>> 0583b9446a832e9f41c76dffb5e57d74693b6320
