<<<<<<< HEAD
.footer {
  background-color: $black;
  padding: 20px;

  &__links {
    display: flex;
    flex-direction: column;

    a {
      border-bottom: 1px solid $light-grey;
      padding: 5px 0;
      margin: 5px 0;
    }
  }

  &__contacts {
    margin: 50px 0;

    .social-media {
      @include flexEvenly;
      margin: 20px 0;

      a {
        font-size: 1.5rem;
      }
    }

    .email {
      display: block;
      text-align: center;
    }

    h6 {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  .review {
    @include flexCenter;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      @include flexEvenly;
      gap: 20px;
      margin-bottom: 40px;
      width: 90%;
      margin-inline: auto;
    }

    &__links {
      width: 55%;
    }

    &__contacts {
      width: 40%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    &__links {
      a {
        font-size: 1.2rem;
      }
    }

    &__contacts {
      .social-media {
        width: 70%;
        margin-inline: auto;

        a {
          font-size: 1.8rem;
        }
      }

      .email {
        font-size: 1.1rem;
      }

      h6 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
=======
.footer {
  background-color: $black;
  padding: 20px;

  &__links {
    display: flex;
    flex-direction: column;

    a {
      border-bottom: 1px solid $light-grey;
      padding: 5px 0;
      margin: 5px 0;
    }
  }

  &__contacts {
    margin: 50px 0;

    .social-media {
      @include flexEvenly;
      margin: 20px 0;
    }

    .email {
      display: block;
      text-align: center;
    }
  }

  .review {
    @include flexCenter;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      @include flexEvenly;
      gap: 20px;
      margin-bottom: 40px;
      width: 90%;
      margin-inline: auto;
    }

    &__links {
      width: 55%;
    }

    &__contacts {
      width: 40%;
    }
  }
}
>>>>>>> 0583b9446a832e9f41c76dffb5e57d74693b6320
