.form {
  @include flexEvenly;
  flex-direction: column;

  input,
  select,
  textarea {
    width: 80%;
    margin: 5px 0;
    padding: 3px 7px;
    border: 1px solid $dark-grey;
    border-radius: 5px;
  }

  button {
    background-color: $accent-dark;
    color: $white;
    border: none;
    margin-top: 15px;
    padding: 7px 15px;
    border-radius: 5px;
  }

  textarea {
    resize: none;
  }
}

.border-red {
  border: 1px solid red;
}

@media only screen and(min-width: 768px) {
  .form {
    margin: 40px;

    input,
    select,
    textarea {
      padding: 10px 14px;
      font-size: 1.1rem;
      border-radius: 10px;
    }

    button {
      padding: 10px 25px;
      border-radius: 10px;
    }
  }
}
