<<<<<<< HEAD
.talk {
  width: 100%;
  height: 20vh;
  background: url('../img/partner contact pic.jpg') center center;
  @include flexCenter;

  button {
    padding: 15px 25px;
    border: 2px solid $white;
    color: $white;
    background: transparent;
  }
}

@media only screen and (min-width: 1024px) {
  .talk {
    height: 30vh;

    button {
      font-size: 1.1rem;
      padding: 17px 35px;
    }
  }
}
=======
.talk {
  width: 100%;
  height: 20vh;
  background: url('../img/partner contact pic.jpg') center center;
  @include flexCenter;

  button {
    padding: 15px 25px;
    border: 2px solid $white;
    color: $white;
    background: transparent;
  }
}

@media only screen and (min-width: 1024px) {
  .talk {
    height: 30vh;

    button {
      font-size: 1.1rem;
      padding: 17px 35px;
    }
  }
}
>>>>>>> 0583b9446a832e9f41c76dffb5e57d74693b6320
